@model Tenders.Models.ViewTender




</br>
<div>

   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListViewTenders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListViewTenders)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
            <a class="btn btn-default" href=" @Url.Action("Index", "ViewTenders")">Назад</a>

        </div>
    }
</div>
