@model Tenders.Models.Category



<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListCategory)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> 
        <a class="btn btn-default" href=" @Url.Action("Index", "Categories")">Назад</a>
       
    </div>
    }
</div>
